<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create New Post</title>
</head>

<body>
    <div class="newPost">
        <h2>Create New Post</h2>
        <form action="/posts" method="post">
            <input type="text" name="username" placeholder="Enter your usrname">
            <textarea name="content" id="content" cols="30" rows="10" placeholder="Enter your content here"></textarea>
            <button>Submit Post</button>
        </form>
    </div>
</body>

</html>
